# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://gitpod@localhost:5432/example
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_ENV=development

# Front-End Variables
BASENAME=/

CLOUDINARY_API_KEY ="989666868765827"
CLOUDINARY_API_SECRET ="fbDjo_PzbZ4bBc_fccR0P_V2Hms"
CLOUDINARY_CLOUD_NAME ="dcdt9yvc2"

BACKEND_URL=https://3001-kpaezastudi-finalprojec-c1xotzmu4j9.ws-us77.gitpod.io

