@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Nerko+One&display=swap');

h1{
    color: #336b87;
    text-shadow: 3px 3px 3px rgb(179, 177, 177);
    margin-bottom: 30px;
    font-size: 2rem;
}

h4{
    color: #336b87;
    margin-top:20px;
}

.bigcontainer{
    text-align: center;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.834);
    width: 100vw;
    height: 100%;
    font-family: 'IM Fell Double Pica';
}

.container-trip{
    background-color: rgb(243, 246, 247);
    border: 6px solid #336b87;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 10px 5px rgb(164, 163, 163);
    margin:auto;
}

.custom-select{
    text-align: center;
    margin: 0;
    align-items: center;
    margin:auto;
}

/* .start-trip{
    margin-top: 20px;
} */

/* .end-trip{
    margin-top: 20px;
} */

.starting{
    display: flex;
    text-align: center;
    margin: auto;
}
.ending{
    display: flex;
    text-align: center;
    margin: auto;
}

.btn-submit{
    margin-top: 30px;
    background-color: #336b87;
    border: 1px solid #336b87;
    font-size: 2rem ;
    box-shadow: 5px 5px 5px rgb(179, 177, 177);
    text-shadow: 5px 5px 5px rgb(179, 177, 177);
    border-radius: 10px;
    padding: 2px 10px 2px 10px;
    
}

