
h1, h5{
    color:#336b87;
}

.btn-main{
    background-color: #336b87;
    border: 1px solid #336b87;
    /* font-size: calc(1em + 60px) ; */
    box-shadow: 2px 2px 5px rgb(179, 177, 177);
    text-shadow: 2px 2px 5px rgb(179, 177, 177);
    border-radius: 7px;
    padding: 5px 15px 5px 15px;
    margin: auto !important;
}