
.messageLogin{
    font-family: 'Lobster', cursive;
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 3rem; */
    color: #336b87;
    font-size: calc(1em + 2vw);
    
}

.container-main{
    background-color: rgba(255, 255, 255, 0.834);
    border: 6px solid #336b87;
    border-radius: 10px;
    margin-top: 15px !important;
   
}

/* .navbar{
    padding-bottom: 15px;
    
} */

/* #toAccount{
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    justify-content: center;

}

#toAccount:#toAccount, a:visited, a:focus {
    background: #336b87;
  }
  
#toAccount:hover {
    background: rgb(98, 174, 100);
  }
  
#toAccount:active {
    background: rgb(96, 168, 223);
    color: white;
  } */
