
.link{
    padding:7px 15px 7px 10px;
    border-radius: 10px;
    border: 3px solid #336b87;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: medium;
    text-decoration: none;

}

.link:link, a:visited, a:focus {
    background: #336b87;
  }
  
.link:hover {
    background: rgb(165, 191, 212);
  }
  
.link:active {
    background: rgb(96, 168, 223);
    color: white;
  }

.card-trip{
  border: 1px solid #336b87 !important;
}

.card-header{
    background-color:rgba(223, 236, 236, 0.795) !important;

  }