.full-poll {
  background: url(https://wallpapers.com/images/hd/travel-wallpaper-group-cf4dc850xhw9rto5.jpg) no-repeat;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.834);
  width: 100vw;
  height: 100%;
  font-family: 'IM Fell Double Pica';
}

.container {
  background: rgb(243, 246, 247) !important;
  border: 6px solid #336b87 !important;
  border-radius: 10px !important;
  padding: 30px !important;
  box-shadow: 5px 10px 5px rgb(164, 163, 163) !important;
}

textarea {
  height: 120px;

}

.instructions {
  font-size: 0.8rem;
}

.slider {
  width: 50%;
  height: 20px;
  padding: 5px;

  background: rgba(24, 176, 151, 0.362);
  border-radius: 10px;
  display: flex;
  align-items: center;

}

.slider p {

  font-family: Open Sans;
  color: rgb(0, 0, 0);
}

.imagematch{
  width: 50%
}